.scroll-list{
  margin: 0;
  height: 500px;
  border-right: 1px solid rgb(239, 242, 247);
  overflow:hidden; overflow-y:scroll;
}
.scroll-list-container{
  overflow:scroll; overflow-y:scroll;
}

@media only screen and (max-width: 768px) {
  .card-body{
    flex-direction: column;
  }
  #select-frame{
    height: 200px;
  }
}
